<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

<head>
    <meta charset="UTF-8">
    <meta name="robots" content="{{ page.robots }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    
    {% seo %}
    {%- include style.html -%}

</head>

<body>

    <div class="container">
        <!--Start navigation-->
        <div class="row">
            <div class="twelve columns nav">
                <ul class="navbar">

                    <li class="navbar-item"><a class="navbar-link" href="/">home</a></li>
                    <li class="navbar-item"><a class="navbar-link" href="/blog">blog</a></li>
                    <li class="navbar-item"><a class="navbar-link" href="mailto:hakube@outlook.com">let's work together</a></li>
                    <li class="navbar-item"><a class="navbar-link" href="https://github.com/hakube/">github</a></li>
                </ul>

            </div>
        </div>
        <!-- End navigation -->
